---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Replit Takeout by Hack Club</title>
    </head>
    <body class="w-full mt-16 mx-auto max-w-4xl">
        <h1 class="text-center text-3xl flex flex-col gap-1">
            <span class="muted">Hack Club & GitHub</span>
            <span class="text-xl opacity-60">presents</span>
            <span>Replit Takeout</span>
        </h1>

        <p>
            On 15 Aug 2024, Replit announced they will be shutting down their
            free plan. High schoolers around the world relied on Replit to In
            response, GitHub are expanding their <a
                href="https://github.com/codespaces">Codespaces</a
            > offering, allowing for x hours per month of compute for all students,
            <b>for free</b>. We're partnering with them to help you utilise it.
        </p>

        <form
            id="signupForm"
            method="POST"
            action="http://165.227.242.48/signup"
        >
            <label for="token">Token (Required):</label>
            <input type="text" id="token" name="token" required />
            <br /><br />
            <label for="email">Email (optional):</label>
            <input type="email" id="email" name="email" />
            <br /><br />
            <button type="submit">Sign Up</button>
        </form>

        <script>
            document.getElementById("signupForm").onsubmit = function (event) {
                var emailField = document.getElementById("email");
                if (emailField.value.trim() === "") {
                    emailField.disabled = true;
                }
            };
        </script>

        <h2>Why</h2>
        4 days ago, Replit sent out this email, announcing the end of their free
        plan.

        <embed
            src="/Replit\ Starter\ Plan\ Changes.pdf"
            width="25%"
            height="400"
            type="application/pdf"
        />
    </body>
</html>
