---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>Replit takeout</h1>
        <form
            id="signupForm"
            method="POST"
            action="http://165.227.242.48/signup"
        >
            <label for="token">Token (Required):</label>
            <input type="text" id="token" name="token" required />
            <br /><br />
            <label for="email">Email (optional):</label>
            <input type="email" id="email" name="email" />
            <br /><br />
            <button type="submit">Sign Up</button>
        </form>

        <script>
            document.getElementById("signupForm").onsubmit = function (event) {
                var emailField = document.getElementById("email");
                if (emailField.value.trim() === "") {
                    emailField.disabled = true;
                }
            };
        </script>
    </body>
</html>
