<p>
    Hey {{ username }}, we successfully exported {{ repl_count_success }} of
    your {{ repl_count_total }} repls.
</p>

<p>
    <a href="{{ link_export_download }}">Here's the link to download them.</a>
</p>

<p>Here are the links to the repls that Replit didn't let us download fully:</p>
<ul>
    {% for repl_id in repl_ids_failed %}
    <li>
        <a href="https://replit.com/replid/{{ repl_id }}"
            >replit.com/replid/{{ repl_id }}</a
        >
    </li>
    {% endfor %}
</ul>
